@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://mshaugh.github.io/nerdfont-webfonts/build/inconsolatalgc.css');

body {
  font-size: 18px;
  font-family: Inconsolata LGC Nerd Font, monospace;

  @media (min-width: 640px) {
    font-size: 24px;
  }
}
